---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/********************************************/
/*	common.css
/*******************************************/
@import 'reset',
	'css3-mixins',
	'vars',
	'fontface',
	'buttons',
	'header',
	'home',
	'about',
	'works',
	'contact';

/********************/
/* ===[ COMMON ]=== */
/********************/
*::-webkit-selection { background: $color-global-red; color: $color-global-white; text-shadow: none; }
::-moz-selection { background: $color-global-red; color: $color-global-white; text-shadow: none; }
::selection { background: $color-global-red; color: $color-global-white; text-shadow: none; }

/**********************/
/* ===[ FONTELLO ]=== */
/**********************/
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}

/******************/
/* ===[ GRID ]=== */
/******************/
.grids {
	width: auto;
	max-width: $gridWidth;
	margin-left: -(percentage( $gutterWidth / $gridWidth ));
	clear: both;
	list-style: none;
	overflow: hidden;
}

// Generates placeholders instead of styles, these won't be output in our CSS
@for $i from 1 to ($totalColumns + 1) {
	.grid_#{$i}{
		@include column($i);
	}

}
[class^="grid_"] {
	float: left;
	&.alpha {
		margin-left: 0;
	}
	&.omega {
		margin-right: 0;
	}
}

/*********************/
/* ===[ LOADING ]=== */
/*********************/
.pageload-overlay {
	position: fixed; width: 100%; height: 100%; top: 0; left: 0; visibility: hidden; z-index: 12;
	&:after {
		content: ''; position: fixed; width: 100px; height: 100px; top: 50%; left: 50%; margin: -50px 0 0 -50px; visibility: hidden; @include opacity(0); @include transition(opacity .15s $default-transition-easing, visibility .15s $default-transition-easing); z-index: 1000; background: url(/assets/gfx/img/lgo.svg) center center no-repeat; @include crossproperty('background-size', 'contain'); @include animation(heartbeat 1300ms ease 0s infinite normal);
	}
	&.show {
		visibility: visible;
	}
	&.pageload-loading {
		&:after {
			opacity: 1; visibility: visible; @include transition(opacity .3s $default-transition-easing);
		}
	}
	svg {
		position: absolute; top: 0; left: 0; pointer-events: none;
		path {
			fill: $color-global-red;
		}
	}
}

/**********************/
/* ===[ APP-VIEW ]=== */
/**********************/
html {
	font-smooth:always; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; height: 100%; width: 100%;
}
body {
	font-smooth:always; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; height: 100%; width: 100%; background: $color-global-black; color: $color-global-white; padding: 0; margin: 0; font-size: 75%; line-height: 1.3em; font-family: $font-family-standard;

	// BP MEDIUM
	@include bp-medium {
		font-size: 70%;
	}

	// BP SMALL
	@include bp-small {
		font-size: 60%;
	}
	&.no-js {
		.app-view {
			section.page-view {
				display: none;
			}
		}
	}
	&.scrollable {
		.app-view {
			section.page-view {
				&.page-view#works-list {
					.handle {
						cursor: default;
						&.disabled {
							position: static;
						}
					}
				}
			}
		}
	}
	.app-view {
		height: 100%; width: 100%; position: relative; overflow: hidden; @include crossproperty('perspective', '1000px');

		// BP SMALL
		@include bp-small {
			@include crossproperty('overflow-scrolling', 'touch');
		}
	}
}

section.page-view {
	height: 100%; @include transition(opacity 1s $default-transition-easing, transform 1s $default-transition-easing); @include opacity(0); @include crossproperty('transform', 'translate3d(0, -50px, -100px) rotateX(-20deg)');

	&.enter {
		 @include opacity(1); @include crossproperty('transform', 'translate3d(0, 0, 0) rotateX(0deg)');
	}
	&.open {
		@include crossproperty('transform', 'translate3D(0, 50px, -100px)');
	}
	.content {
		position: relative; z-index: 2; top: 15%; text-align: center; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');

		// BP SMALL
		@include bp-small {
			top: 20%;
		}

		h1 {
			font-size: 5em; text-transform: uppercase; line-height: 1.2em; margin-bottom: 1em; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');

			// BP SMALL
			@include bp-small {
				font-size: 4.5em; margin-bottom: .5em;
			}

			&:after {
				@include transition(width 2s $default-transition-easing, margin 2s $default-transition-easing); position: absolute; top: 110%; left: 50%; width: 0; height: 2px; margin-left: 0; background: $color-global-red; content: " "; display: block;
			}
			&.lined:after {
				width: 10%; margin-left: -5%;
			}
		}
		h2 {
			font-size: 3em; text-transform: uppercase; line-height: 1.2em; margin-bottom: .2em; clear: both; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');

			// BP SMALL
			@include bp-small {
				font-size: 2.5em;
			}
		}
		h3 {
			font-size: 2em; text-transform: uppercase; line-height: 1.2em; margin-bottom: 1em; font-weight: normal; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');
			strong {
				font-weight: bold;
			}
		}
		h4 {
			font-size: 3em; text-transform: uppercase; line-height: 1.2em; margin-bottom: .2em; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');
		}
		p {
			font-size: 1.5em; line-height: 1.2em; clear: both; margin-bottom: 1em; @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');
			a {
				color: $color-global-red;
				&:hover {
					text-decoration: none;
				}
			}
		}
		ul {
			margin-bottom: 1em; display: inline; float: left; position: relative; left: 50%; clear: both;
			li {
				font-size: 1.5em; line-height: 1.2em; margin: 0 0 .2em; text-align: left; list-style: disc inside; position: relative; right: 50%; white-space: nowrap;
			}
		}
	}
	img[data-type=background] {
		position: absolute; z-index: 1; left: 50%; top: 50%; @include opacity(0); @include crossproperty('backface-visibility', 'preserve-3d'); @include crossproperty('perspective', '1000'); @include crossproperty('backface-visibility', 'hidden');
	}
}

/**************/
/* ANIMATIONS */
/**************/
@include keyframes(heartbeat) {
	0%  { @include transform(scale(1));   }
	14% { @include transform(scale(1.3)); }
	28% { @include transform(scale(1));   }
	42% { @include transform(scale(1.3)); }
	70% { @include transform(scale(1));   }
}

@include keyframes(borderenter) {
	0% { border-color: transparent }
	100% { border-color: $color-global-white; }
}

@include keyframes(socialHover) {
	0% { @include transform( matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	3.333333% { @include transform( matrix3d(1.14545, 0, 0, 0, 0, 1.18602, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	6.666667% { @include transform( matrix3d(1.29842, 0, 0, 0, 0, 1.40691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	10% { @include transform( matrix3d(1.42774, 0, 0, 0, 0, 1.57226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	13.333333% { @include transform( matrix3d(1.51897, 0, 0, 0, 0, 1.64684, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	16.666667% { @include transform( matrix3d(1.57044, 0, 0, 0, 0, 1.64088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	20% { @include transform( matrix3d(1.58847, 0, 0, 0, 0, 1.58847, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	23.333333% { @include transform( matrix3d(1.58303, 0, 0, 0, 0, 1.52623, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	26.666667% { @include transform( matrix3d(1.56445, 0, 0, 0, 0, 1.47964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	30% { @include transform( matrix3d(1.54137, 0, 0, 0, 0, 1.45863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	33.333333% { @include transform( matrix3d(1.51985, 0, 0, 0, 0, 1.4603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	36.666667% { @include transform( matrix3d(1.50322, 0, 0, 0, 0, 1.47507, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	40% { @include transform( matrix3d(1.49261, 0, 0, 0, 0, 1.49261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	43.333333% { @include transform( matrix3d(1.48758, 0, 0, 0, 0, 1.50574, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	46.666667% { @include transform( matrix3d(1.48684, 0, 0, 0, 0, 1.51166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	50% { @include transform( matrix3d(1.48881, 0, 0, 0, 0, 1.51119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	53.333333% { @include transform( matrix3d(1.49207, 0, 0, 0, 0, 1.50702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	56.666667% { @include transform( matrix3d(1.49549, 0, 0, 0, 0, 1.50208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	60% { @include transform( matrix3d(1.49838, 0, 0, 0, 0, 1.49838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	63.333333% { @include transform( matrix3d(1.50042, 0, 0, 0, 0, 1.49672, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	66.666667% { @include transform( matrix3d(1.50158, 0, 0, 0, 0, 1.49685, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	70% { @include transform( matrix3d(1.50198, 0, 0, 0, 0, 1.49802, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	73.333333% { @include transform( matrix3d(1.50186, 0, 0, 0, 0, 1.49941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	76.666667% { @include transform( matrix3d(1.50144, 0, 0, 0, 0, 1.50046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	80% { @include transform( matrix3d(1.50093, 0, 0, 0, 0, 1.50093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	83.333333% { @include transform( matrix3d(1.50044, 0, 0, 0, 0, 1.50089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	86.666667% { @include transform( matrix3d(1.50007, 0, 0, 0, 0, 1.50056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	90% { @include transform( matrix3d(1.49983, 0, 0, 0, 0, 1.50017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	93.333333% { @include transform( matrix3d(1.49972, 0, 0, 0, 0, 1.49987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	96.666667% { @include transform( matrix3d(1.49971, 0, 0, 0, 0, 1.49974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	100% { @include transform( matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); } 
}

@include keyframes(socialHoverOut) {
	0% { @include transform( matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	3.333333% { @include transform( matrix3d(1.35455, 0, 0, 0, 0, 1.31398, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	6.666667% { @include transform( matrix3d(1.20158, 0, 0, 0, 0, 1.09309, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	10% { @include transform( matrix3d(1.07226, 0, 0, 0, 0, 0.92774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	13.333333% { @include transform( matrix3d(0.98103, 0, 0, 0, 0, 0.85316, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	16.666667% { @include transform( matrix3d(0.92956, 0, 0, 0, 0, 0.85912, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	20% { @include transform( matrix3d(0.91153, 0, 0, 0, 0, 0.91153, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	23.333333% { @include transform( matrix3d(0.91697, 0, 0, 0, 0, 0.97377, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	26.666667% { @include transform( matrix3d(0.93555, 0, 0, 0, 0, 1.02036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	30% { @include transform( matrix3d(0.95863, 0, 0, 0, 0, 1.04137, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	33.333333% { @include transform( matrix3d(0.98015, 0, 0, 0, 0, 1.0397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	36.666667% { @include transform( matrix3d(0.99678, 0, 0, 0, 0, 1.02493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	40% { @include transform( matrix3d(1.00739, 0, 0, 0, 0, 1.00739, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	43.333333% { @include transform( matrix3d(1.01242, 0, 0, 0, 0, 0.99426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	46.666667% { @include transform( matrix3d(1.01316, 0, 0, 0, 0, 0.98834, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	50% { @include transform( matrix3d(1.01119, 0, 0, 0, 0, 0.98881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	53.333333% { @include transform( matrix3d(1.00793, 0, 0, 0, 0, 0.99298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	56.666667% { @include transform( matrix3d(1.00451, 0, 0, 0, 0, 0.99792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	60% { @include transform( matrix3d(1.00162, 0, 0, 0, 0, 1.00162, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	63.333333% { @include transform( matrix3d(0.99958, 0, 0, 0, 0, 1.00328, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	66.666667% { @include transform( matrix3d(0.99842, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	70% { @include transform( matrix3d(0.99802, 0, 0, 0, 0, 1.00198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	73.333333% { @include transform( matrix3d(0.99814, 0, 0, 0, 0, 1.00059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	76.666667% { @include transform( matrix3d(0.99856, 0, 0, 0, 0, 0.99954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	80% { @include transform( matrix3d(0.99907, 0, 0, 0, 0, 0.99907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	83.333333% { @include transform( matrix3d(0.99956, 0, 0, 0, 0, 0.99911, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	86.666667% { @include transform( matrix3d(0.99993, 0, 0, 0, 0, 0.99944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	90% { @include transform( matrix3d(1.00017, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	93.333333% { @include transform( matrix3d(1.00028, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	96.666667% { @include transform( matrix3d(1.00029, 0, 0, 0, 0, 1.00026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); }
	100% { @include transform( matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) ); } 
}