/*****************/
/*	_about.css
/*****************/
section.page-view {
	&.about-view {
		.content {
			ul.love {
				position: relative; left: 50%; margin-top: 1em; margin-bottom: 4em; clear: both;
				li {
					list-style: none; display: inline; float: left; position: relative; right: 50%; margin: 0 10px; font-size: 1em; text-align: center;
					
					// BP SMALL
					@include bp-small {
						margin: 0 .5em;
					}

					span {
						@include border-radius(50%); border: 3px transparent solid; width: 60px; height: 60px; display: block; position: relative; margin: 0 auto .5em; @include crossproperty('animation', 'borderenter 1s'); @include crossproperty('animation-fill-mode', 'forwards'); @include crossproperty('backface-visibility', 'hidden');

						// BP SMALL
						@include bp-small {
							border-width: 2px; width: 30px; height: 30px;
						}
						svg {
							max-width: 30px; max-height: 30px; width: 30px; height: 30px; color: $color-global-black; fill: $color-global-white; position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -15px; z-index: 2; @include transition(all .8s $default-transition-easing);

							// BP SMALL
							@include bp-small {
								max-width: 15px; max-height: 15px; width: 15px; height: 15px; margin-top: -7px; margin-left: -7px;
							}
						}
					}
				}
				@for $i from 0 to 8 {
				    li:nth-child(#{$i}) span { @include crossproperty('animation-delay', 3 + ($i * 0.1s) ); }
				}
			}
			ul.skills {
				position: relative; width: 100%; left: auto; display: block; height: 60px; margin-top: 1em; margin-bottom: 4em;
				
				// BP MEDIUM
				@include bp-medium {
					height: 40px; margin-bottom: 2em;
				}

				// BP SMALL
				@include bp-medium {
					height: 30px; margin-bottom: 2em;
				}

				li {
					position: absolute; top: 0; margin: 0; left: 50%; right: auto; @include crossproperty('transform', 'translateX(-50%)'); padding: 0 20px; color: $color-global-white; font-size: 2.5em; line-height: 60px; list-style: none; text-align: center;
					
					em {
						position: absolute; width: 20px; display: block; height: 100%; top: 0;
						svg {
							height: 60%; width: 60%; position: absolute; top: 50%; left: 50%; @include crossproperty('transform', 'translate(-50%, -50%)'); fill: $color-global-white;
						}
						&.left {
							left: -20px;
						}
						&.right {
							right: -20px;
						}
					}
					&.last {
						top: 100%; @include opacity(0);
					}
					// BP MEDIUM
					@include bp-medium {
						font-size: 1.6em; line-height: 40px;
					}

					// BP SMALL
					@include bp-small {
						font-size: 1.5em; line-height: 30px;
					}
				}
			}
		}
	}
}