/*****************/
/*	_buttons.css
/*****************/

%btn {
	border: 2px $color-global-white solid; text-transform: uppercase; text-decoration: none; text-transform: uppercase; padding: .8em; font-size: .9em; color: $color-global-white; position: relative; background: none; @include transition(background 1s $default-transition-easing, border 1s $default-transition-easing); overflow: hidden; @include crossproperty('transform-origin', '50% 50%'); @include transition(box-shadow .4s $default-transition-easing);
	span {
		position: relative; z-index: 2; display: block; height: 100%; @include transition(color .4s $default-transition-easing); @include crossproperty('transition-delay', .1s);
	}
	em {
		&:nth-child(1),
		&:nth-child(2) {
			width: 75%; height: 100%; top: 0; display: block; position: absolute; z-index: 1; @include transition(transform .4s $default-transition-easing); @include crossproperty('transform-origin', '50% 50%'); background-color: rgb(255, 255, 255);
		}
		&:nth-child(1) {
			left: -12%; @include crossproperty('transform', 'translate3d(0, -100%, 0px) skewX(-32deg)');
		}
		&:nth-child(2) {
			right: -12%; @include crossproperty('transform', 'translate3d(0, 100%, 0px) skewX(-32deg)');
		}
	}
	@include bp-small {
		border-width: 1px; padding: .8em; text-align: center;
	}
	&:hover {
		background: none; @include box-shadow(0, 0, 20px, $color-global-white);
		span {
			color: $color-global-black; @include crossproperty('transition-delay', 0s);
		}
		em {
			&:nth-child(1) {
				@include crossproperty('transform', 'translate3d(0, 0, 0px) skewX(-32deg)');
			}
			&:nth-child(2) {
				@include crossproperty('transform', 'translate3d(0, 0, 0px) skewX(-32deg)');
			}
		}
	}
}