/*****************/
/*	_buttons.css
/*****************/

%btn {
	border: 2px rgba($color-global-white, .5) solid; text-transform: uppercase; text-decoration: none; text-transform: uppercase; font-size: .9em; color: $color-global-white; position: relative; background: none; @include crossproperty('transform-origin', '50% 50%');
	span {
		position: relative; z-index: 2; display: block; padding: .8em; @include transition(color .4s $default-transition-easing); @include crossproperty('transition-delay', .3s);
		&:before,
		&:after {
			content: ''; display: block; position: absolute; z-index: 1; @include transition(width .4s $default-transition-easing, height .4s $default-transition-easing); background: $color-global-white;
		}
		&:before {
			width: 0; height: 2px; bottom: -2px; right: 0;
		}
		&:after {
			height: 0; width: 2px; bottom: 0; left: -2px;
		}
	}
	em {
		width: 0; height: 2px; bottom: 0; left: 50%; @include crossproperty('transform', 'translateX(-50%)'); display: block; position: absolute; z-index: 1; background: $color-global-white; @include crossproperty('animation', 'btnHout 500ms ease-in-out forwards');
	}
	&:before,
	&:after {
		content: ''; display: block; position: absolute; z-index: 1; @include transition(width .4s $default-transition-easing, height .4s $default-transition-easing); background: $color-global-white;
	}
	&:before {
		width: 0; height: 2px; top: -2px; left: 0;
	}
	&:after {
		height: 0; width: 2px; top: 0; right: -2px;
	}
	@include bp-small {
		border-width: 1px; padding: .8em; text-align: center;
	}
	&:hover {
		background: none;
		&:before {
			width: 101.5%;
		}
		&:after {
			height: 104%;
		}
		span {
			color: $color-global-black;
			&:before {
				width: 101.5%;
			}
			&:after {
				height: 104%;
			}
		}
		em {
			@include crossproperty('animation', 'btnHover 500ms ease-in-out forwards');
		}
	}
}