/*****************/
/*	_home.css
/*****************/
section.page-view {
	&.home-view {
		.content {
			code {
				font-size: 2em; line-height: 1.2em; text-align: left; width: 55%; margin: 0 auto; display: block;
			}
			ul {
				display: inline; float: left; position: relative; left: 50%; list-style: none;
				
				// BP SMALL
				@include bp-small {
					display: block; float: none; max-width: 200px; margin-bottom: 2em;
				}

				li {
					display: inline; float: left; margin: 0 1em; position: relative; right: 50%;
					@include opacity(0); @include crossproperty('transform', 'translate3d(0, -10px, 0)');

					// BP SMALL
					@include bp-small {
						display: block; float: none; margin: .5em 0;
					}
					a {
						@extend %btn; display: block;
					}
				}
			}
			p {
				font-size: 1.8em; line-height: 1.6em;

				span {
					display: block;
				}

				// BP SMALL
				@include bp-small {
					display: none;
				}
			}
		}
	}
}