/*****************/
/*	_vars.css
/*****************/
$color-global-white: #fff;
$color-global-black: #000;
$color-global-grey: #f3f3f3;
$color-global-red: #ef0000;

$font-family-standard: Montserrat, Arial, sans-serif;

$wrapper-width: 980px;
$totalColumns  	: 20;
$columnWidth 	: 39px;
$gutterWidth  	: 10px;
$gridWidth      : $totalColumns * ($columnWidth + $gutterWidth);

$default-transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.000);