/*****************/
/*	_vars.css
/*****************/
$color-global-white: #fff;
$color-global-black: #000;
$color-global-grey: #f3f3f3;
$color-global-red: #ef0000;

$font-family-standard: Montserrat, Arial, sans-serif;

$transition-easing-default: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$transition-easing-buttons: cubic-bezier(1.000, 0.140, 0.080, 0.885);