/*****************/
/*	_vars.css
/*****************/
$color-global-white: #fff;
$color-global-black: #000;
$color-global-grey: #f3f3f3;
$color-global-red: #ef0000;

$font-family-standard: Montserrat, Arial, sans-serif;

$wrapper-width: 980px;
$totalColumns  	: 20;
$columnWidth 	: 39px;
$gutterWidth  	: 10px;
$gridWidth      : $totalColumns * ($columnWidth + $gutterWidth);

$default-transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.000);

@include keyframes(heartbeat) {
	0%  { @include transform(scale(1));   }
	14% { @include transform(scale(1.3)); }
	28% { @include transform(scale(1));   }
	42% { @include transform(scale(1.3)); }
	70% { @include transform(scale(1));   }
}

%btn {
	border: 2px rgba(255, 255, 255, .8) solid; text-transform: uppercase; text-decoration: none; text-transform: uppercase; padding: 1em 1em; color: $color-global-white; background: rgba(255, 255, 255, .2); position: relative; @include transition('background, border', 1s);
	&:hover {
		background: rgba(255, 255, 255, .4);
	}
}

%ie-fix { position: relative; z-index: 1; behavior: url(PIE.htc); }