---
layout: compress
---
{% if site.lang %}
{% assign lang = site.lang %}
{% else %}
{% assign lang = 'en-US' %}
{% endif %}
<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{lang}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{lang}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{lang}}"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"lang="{{lang}}"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="{{lang}}"><!--<![endif]-->
	{% include head.html %}
	<body class="no-js">
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>